<Plugin
    DescriptorVersion="1.0"
    Name="AtmoLight"
    PluginId="{c4c349f8-2c98-47b3-be24-6aa1da552f5d}"
    AutoActivate="True"
    Author="Lightning303"
    Copyright="GPL"
    Description="AtmoLight Plugin"
    PluginVersion="2.0">
    
  <DependsOn>
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}"/> <!-- SkinEngine -->
    <PluginReference PluginId="{A965AFE5-44F9-46e0-980E-40BBE17F25CA}"/> <!-- VideoPlayers -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}"/> <!-- Configuration plugin -->
  </DependsOn>
    
  <Runtime>
    <Assembly FileName="AtmoLight.MediaPortal2.dll"/>
    <Assembly FileName="AtmoLight.Core.dll"/>
    <Assembly FileName="Google.ProtocolBuffers.dll"/>
    <Assembly FileName="../SkinEngine/SkinEngine.dll"/>
    <PluginStateTracker ClassName="AtmoLight.Plugin"/>
  </Runtime>

  <Register Location="/Resources/Language">
    <Resource Id="AtmoLightLanguage" Directory="Language" Type="Language"/>
  </Register>
  
  <!-- Root Sections -->
  <Register Location="/Configuration/Settings/Plugins">
    <ConfigSection
        Id="AtmoLight"
        Redundant="true"
        Text="[AtmoLight.Name]"/>
  </Register>
  
  <!-- Sections -->
  <Register Location="/Configuration/Settings/Plugins/AtmoLight">
    <ConfigSection
        Id="General"
        Redundant="true"
        Text="[AtmoLight.General]"/>
  </Register>   
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight">
    <ConfigSection
        Id="Effects"
        Redundant="true"
        Text="[AtmoLight.Effects]"/>
  </Register> 
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight">
    <ConfigSection
        Id="Buttons"
        Redundant="true"
        Text="[AtmoLight.Buttons]"/>
  </Register> 
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight">
    <ConfigSection
        Id="Advanced"
        Redundant="true"
        Text="[AtmoLight.Advanced]"/>
  </Register> 
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight">
    <ConfigSection
        Id="AtmoWin"
        Redundant="true"
        Text="[AtmoLight.AtmoWin]"/>
  </Register> 
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight">
    <ConfigSection
        Id="Hyperion"
        Redundant="true"
        Text="[AtmoLight.Hyperion]"/>
  </Register> 
  
  <!-- Entries-->  
  <!-- General -->
    <Register Location="/Configuration/Settings/Plugins/AtmoLight/General">
    <ConfigSetting
        Id="AtmoWinTarget"
        Text="[AtmoLight.AtmoWinTarget]"
        ClassName="AtmoLight.Configuration.AtmoWinTarget"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/General">
    <ConfigSetting
        Id="HyperionTarget"
        Text="[AtmoLight.HyperionTarget]"
        ClassName="AtmoLight.Configuration.HyperionTarget"/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins/AtmoLight/General">
    <ConfigSetting
        Id="HueTarget"
        Text="[AtmoLight.HueTarget]"
        ClassName="AtmoLight.Configuration.HueTarget"/>
  </Register>
    
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/General">
    <ConfigSetting
        Id="RestartAtmoWinOnError"
        Text="[AtmoLight.RestartAtmoWinOnError]"
        ClassName="AtmoLight.Configuration.RestartAtmoWinOnError"/>
  </Register>
             
  <!--- AtmoWin -->
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/AtmoWin">
    <ConfigSetting
        Id="AtmoWinExe"
        Text="[AtmoLight.AtmoWinExe]"
        ClassName="AtmoLight.Configuration.AtmoWinExe"/>
  </Register>  
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/AtmoWin">
    <ConfigSetting
        Id="StartAtmoWinOnStart"
        Text="[AtmoLight.StartAtmoWinOnStart]"
        ClassName="AtmoLight.Configuration.StartAtmoWinOnStart"/>
  </Register>    
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/AtmoWin">
    <ConfigSetting
        Id="StopAtmoWinOnExit"
        Text="[AtmoLight.StopAtmoWinOnExit]"
        ClassName="AtmoLight.Configuration.StopAtmoWinOnExit"/>
  </Register>
  
  <!-- Hyperion -->
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Hyperion">
    <ConfigSetting
        Id="HyperionIP"
        Text="[AtmoLight.HyperionIP]"
        ClassName="AtmoLight.Configuration.HyperionIP"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Hyperion">
    <ConfigSetting
        Id="HyperionPort"
        Text="[AtmoLight.HyperionPort]"
        ClassName="AtmoLight.Configuration.HyperionPort"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Hyperion">
    <ConfigSetting
        Id="HyperionPriority"
        Text="[AtmoLight.HyperionPriority]"
        ClassName="AtmoLight.Configuration.HyperionPriority"/>
  </Register>
        
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Hyperion">
    <ConfigSetting
        Id="HyperionPriorityStaticColor"
        Text="[AtmoLight.HyperionPriorityStaticColor]"
        ClassName="AtmoLight.Configuration.HyperionPriorityStaticColor"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Hyperion">
    <ConfigSetting
        Id="HyperionReconnectDelay"
        Text="[AtmoLight.HyperionReconnectDelay]"
        ClassName="AtmoLight.Configuration.HyperionReconnectDelay"/>
  </Register>
        
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Hyperion">
    <ConfigSetting
        Id="HyperionReconnectAttempts"
        Text="[AtmoLight.HyperionReconnectAttempts]"
        ClassName="AtmoLight.Configuration.HyperionReconnectAttempts"/>
  </Register>
    
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Hyperion">
    <ConfigSetting
        Id="HyperionLiveReconnect"
        Text="[AtmoLight.HyperionLiveReconnect]"
        ClassName="AtmoLight.Configuration.HyperionLiveReconnect"/>
  </Register>

  <!-- Hue -->
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Hue">
    <ConfigSetting
        Id="HueIP"
        Text="[AtmoLight.HueIP]"
        ClassName="AtmoLight.Configuration.HueIP"/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Hue">
    <ConfigSetting
        Id="HuePort"
        Text="[AtmoLight.HuePort]"
        ClassName="AtmoLight.Configuration.HuePort"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Hue">
    <ConfigSetting
        Id="HueMinimalColorDifference"
        Text="[AtmoLight.HueMinimalColorDifference]"
        ClassName="AtmoLight.Configuration.HueMinimalColorDifference"/>
  </Register>


  <!-- Effects -->
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="LEDsEnabled"
        Text="[AtmoLight.LEDsEnabled]"
        ClassName="AtmoLight.Configuration.LEDsEnabled"/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="VideoEffect"
        Text="[AtmoLight.VideoEffect]"
        ClassName="AtmoLight.Configuration.VideoEffect"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="AudioEffect"
        Text="[AtmoLight.AudioEffect]"
        ClassName="AtmoLight.Configuration.AudioEffect"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="MenuEffect"
        Text="[AtmoLight.MenuEffect]"
        ClassName="AtmoLight.Configuration.MenuEffect"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="MPExitEffect"
        Text="[AtmoLight.MPExitEffect]"
        ClassName="AtmoLight.Configuration.MPExitEffect"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="StaticColorRed"
        Text="[AtmoLight.StaticColorRed]"
        ClassName="AtmoLight.Configuration.StaticColorRed"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="StaticColorGreen"
        Text="[AtmoLight.StaticColorGreen]"
        ClassName="AtmoLight.Configuration.StaticColorGreen"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="StaticColorBlue"
        Text="[AtmoLight.StaticColorBlue]"
        ClassName="AtmoLight.Configuration.StaticColorBlue"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="GIFFile"
        Text="[AtmoLight.GIFFile]"
        ClassName="AtmoLight.Configuration.GIFFile"/>
  </Register>
    
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="ManualMode"
        Text="[AtmoLight.ManualMode]"
        ClassName="AtmoLight.Configuration.ManualMode"/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="ExcludeTimeStartHour"
        Text="[AtmoLight.ExcludeTimeStartHour]"
        ClassName="AtmoLight.Configuration.ExcludeTimeStartHour"/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="ExcludeTimeStartMinutes"
        Text="[AtmoLight.ExcludeTimeStartMinutes]"
        ClassName="AtmoLight.Configuration.ExcludeTimeStartMinutes"/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="ExcludeTimeEndHour"
        Text="[AtmoLight.ExcludeTimeEndHour]"
        ClassName="AtmoLight.Configuration.ExcludeTimeEndHour"/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Effects">
    <ConfigSetting
        Id="ExcludeTimeEndMinutes"
        Text="[AtmoLight.ExcludeTimeEndMinutes]"
        ClassName="AtmoLight.Configuration.ExcludeTimeEndMinutes"/>
  </Register>
  
  <!-- Buttons -->
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Buttons">
    <ConfigSetting
        Id="OnOffButton"
        Text="[AtmoLight.OnOffButton]"
        ClassName="AtmoLight.Configuration.OnOffButton"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Buttons">
    <ConfigSetting
        Id="ProfileButton"
        Text="[AtmoLight.ProfileButton]"
        ClassName="AtmoLight.Configuration.ProfileButton"/>
  </Register>
  
  <!-- Advanced -->
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Advanced">
    <ConfigSetting
        Id="LowCPU"
        Text="[AtmoLight.LowCPU]"
        ClassName="AtmoLight.Configuration.LowCPU"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Advanced">
    <ConfigSetting
        Id="LowCPUTime"
        Text="[AtmoLight.LowCPUTime]"
        ClassName="AtmoLight.Configuration.LowCPUTime"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Advanced">
    <ConfigSetting
        Id="Delay"
        Text="[AtmoLight.Delay]"
        ClassName="AtmoLight.Configuration.Delay"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Advanced">
    <ConfigSetting
        Id="DelayTime"
        Text="[AtmoLight.DelayTime]"
        ClassName="AtmoLight.Configuration.DelayTime"/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins/AtmoLight/Advanced">
    <ConfigSetting
        Id="DelayRefreshRate"
        Text="[AtmoLight.DelayRefreshRate]"
        ClassName="AtmoLight.Configuration.DelayRefreshRate"/>
  </Register>

</Plugin>